*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    transition: 0.4s;
}
body{
    /* padding: 1%; */
    font-size: 2.4rem;
    background-color: rgb(96, 206, 250);
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 100%;
}

.main{
    /* padding: 2%; */
    display: flex;
    height: 50vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.show{
    padding: 0 1%;
    border: 4px dotted rgb(101, 101, 246);
    /* width: 50%; */
    /* overflow: auto; */
}

#mlength{
    padding: 1% 2%;
    font-size: 1.6rem;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.623);
    color: wheat;
    letter-spacing: 0.2rem;
}

.btn{
    background-color: cornflowerblue;
    font-size: 2rem;
    border-radius: 20px;
    padding: 1% 2%;
    cursor: pointer;
    margin-top: 1%;
}
.btn:hover{
    background-color: rgb(45, 114, 241);
    color: rgb(248, 203, 203);
}

@media only screen and (max-width:550px){
    .navbar{
        margin-top: 10%;
        height: auto;
    }
    .heading{
        margin: auto;
        text-align: center;
    }
    /* .main{
        height: auto;
    } */
}
